@charset "utf-8";
/* CSS Document */

#enable_button {
	color: white;
	text-shadow: none;
	width: 100px;
	background:url("images/enable-button-grad.png") repeat-x scroll left top #EEE;
}

#enable_button:active {
	color: white;
	text-shadow: none;
	background:url("images/enable-button-grad-active.png") repeat-x scroll left top #EEE;
}

#disable_button {
	color: white;
	text-shadow: none;
	width: 100px;
	background:url("images/disable-button-grad.png") repeat-x scroll left top #EEE;
}

#disable_button:active {
	color: white;
	text-shadow: none;
	background:url("images/disable-button-grad-active.png") repeat-x scroll left top #EEE;
}

table#leenkme_activate_plugins {
	width: 225px;
	border: none;
}

td#leenkme_plugin_name {
	width: 100px;
}

td#leenkme_plugin_button {
	width: 125px;
}

div#facebook_format_options {
	float: left;
}

div#facebook_examples {
	float:left;
	margin-left:20px;
	width:500px;
	font-weight: bold;
	font-style: italic;
}

div#facebook_options {
	width: 100%;
	clear: both;
}